.main-img {
  width: 200px;
  height: 200px;
}

#iphone {
  width: 300px;
  height: 550px;
}

#header {
  background-color: black;
  color: beige;
  font-family: "Raleway";
  height: 150px;
  width: 100%;
  padding: 10px;
  z-index: 3;
}

#title h1 {
  font-size: 60px;
}

#title h5 {
  font-size: 30px;
}

#contact-info {
  float: right;
  background-color: beige;
  color: black;
  margin-top: -140px;
  padding: 10px;
  z-index: 3;
  margin-right: 0%;
}

.carousel-inner {
  width: 80%;
  margin: auto;
}

#middle {
  width: 100%;
}

#important {
  width: 100%;
}

.boxes {
  border-radius: 2px;
  background-color: white;
  height: 200px;
  width: 600px;
  box-shadow: 2px 6px 6px 2px black, 2px 6px 6px 2px #999;
  overflow: auto;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tadpoles {
  background-color: beige;
  position: relative;
  float: left;
}

#iphone-div {
  width: 30%;
  position: relative;
  float: right;
  z-index: 1;
}

#points {
  width: 60%;
  position: relative;
  float: left;
  padding: 50px;
}

#dailyreport {
  z-index: 2;
  width: 225px;
  margin-top: -570px;
  margin-left: 40px;
  height: 385px;
}

#lower {
  background-color: gray;
  color: white;
}

#footer {
  width: 100%;
  text-align: center;
  background-color: beige;
  border-top: solid 2px black;
}
