body {
  font-display: "Open Sans";
}
.main-img {
  width: 200px;
  height: 200px;
}

#header {
  background-color: black;
  color: beige;
  font-family: "Raleway";
  height: 150px;
  width: 100%;
  padding: 10px;
  z-index: 3;
}

#title h1 {
  font-size: 60px;
}

#title h5 {
  font-size: 30px;
}

#contact-info {
  float: right;
  background-color: beige;
  color: black;
  margin-top: -140px;
  padding: 10px;
  z-index: 3;
  margin-right: 0%;
}

.carousel-inner {
  width: 100%;
  margin: auto;
}

#middle {
  width: 100%;
}

#important {
  width: 100%;
}

.boxes {
  border-radius: 2px;
  background-color: white;
  height: 200px;
  width: 600px;
  box-shadow: 2px 6px 6px 2px black, 2px 6px 6px 2px #999;
  overflow: auto;
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tadpoles {
  background-color: beige;
  position: relative;
  float: left;
}

#iphone-div {
  width: 40%;
  position: relative;
  float: right;
}

#points {
  width: 60%;
  position: relative;
  float: left;
  padding: 50px;
  font-display: "Open Sans";
}

#points h1 {
  font-family: "Raleway";
}

#points h3 {
  font-family: "Raleway";
}

#iphone {
  width: 300px;
  height: 550px;
  z-index: 3;
  position: absolute;
}

#iphone2 {
  width: 300px;
  height: 550px;
  margin-top: 30px;
  margin-left: 200px;
  z-index: 1;
}

#dailyreport {
  z-index: 4;
  width: 225px;
  margin-top: 80px;
  margin-left: 40px;
  height: 390px;
  position: absolute;
}

#reportpic {
  z-index: 2;
  width: 225px;
  margin-top: 100px;
  margin-left: -260px;
  height: 400px;
  position: absolute;
}

footer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background-color: beige;
  border-top: solid 5px black;
}

a {
  padding: 5px;
  font-display: "open sans";
  font-size: 22px;
  cursor: pointer;
  background-color: gray;
  width: 30%;
  color: white;
  text-align: center;
  box-shadow: 2px 6px 6px 2px black, 2px 6px 6px 2px #999;
}

a:hover {
  background: url("../images/cloud.png") center;
  color: black;
  text-decoration: none;
}

i {
  font-size: 50px;
  margin-left: 10px;
}

i:hover {
  color: gray;
}

#icons {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

/* media queries  */

@media screen and (max-width: 1260px) {
  #reportpic {
    z-index: 2;
    width: 225px;
    margin-top: -480px;
    margin-left: 240px;
    height: 400px;
    position: absolute;
  }
}
